span.term {
   font-family: monospace;
   font-style: normal;
   font-weight: bold;
   color: #556B2F;
}


.content img, .content embed
{
	width: auto ;
	height: auto ;
}

.content dl
{
	padding:5px 0px 5px 50px;
}

nav#lab-article-navigation ul li, nav#experiment-article-navigation ul li
{
	float: left;
	list-style: none;
	margin-right: 0.3em; 
}

nav#lab-article-navigation ul li a:link, nav#experiment-article-navigation ul li a:link,
nav#lab-article-navigation ul li a:visited, nav#experiment-article-navigation ul li a:visited
{
	text-transform:none;
/*	text-transform:uppercase; */
	padding: 9px;
	width:100px;
	text-align:center;
}

/*ol#list-of-experiments, */
.content ol, .content ul
{
	padding:5px 0px 5px 30px;
}

.content p
{
	text-align: justify;
}

.content li
{
    margin-right: 50pt;
    text-align: justify;
}
#experiment-article-breadcrumb a:link, #experiment-article-breadcrumb a:visited {
	color: #fefefe;
}
#lab-article-breadcrumb a:link, #lab-article-breadcrumb a:visited {
	color: #fefefe;
}
